{% extends "base.html" %}
{% load url from future %}

{% block content %}
    <div class="container" style="margin:120px auto 0px auto">
    
    <!--
        Where You Can Find Us featurette
    -->
   
	<div class="row">
        <div class="col-md-12">
            <img class="featurette-image img-responsive" src="/static/images/RiverSidenologo.png" alt="Generic placeholder image">
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">Where You Can Find Us<br/><span class="text-muted">The rendevous point.</span></h2>
            <p class="lead text-justify">
                MEP is located on the California State University, Sacramento campus in <strong>Santa Clara Hall 1213</strong>.
                Our friendly staff can provide you with any information you need regarding things like becoming a member,
                learning more about the study of engineering, attending classes, and the opportunity to learn about our faculty
                and campus from the student perspective.
            </p>
        </div>
    </div>
    
	<hr class="featurette-divider">
    
    <!--
        Who We Are featurette
    -->
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Who We Are<br/><span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead text-justify">
                There are MESA chapters all over the country but ours is unique. The MESA Engineering Program 
                <abbr title="attribute">(MEP)</abbr> is an organization assembled of alumni, professors, students, 
                mentors, and parents.
            </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
    </div>

    <!--
        What We Do featurette
    -->
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="/static/images/SideBridgenologo.png" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading">What We Do<br/><span class="text-muted">See for yourself.</span></h2>
            <p class="lead">
                What we do.
            </p>
        </div>
    </div>

    
    

    <!--
        How We Got Here
    -->
    <hr class="featurette-divider">
    
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">How We Got Here<br/><span class="text-muted">The eagle has landed.</span></h2>
            <p class="lead text-justify">
                Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
            </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
    </div>
	
	<!--
        Why We Are Here
    -->
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-5">
        	<iframe width="455" height="315" src="//www.youtube.com/embed/_UaxeH596t8?rel=0" frameborder="0" allowfullscreen></iframe>
           <!-- <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image"> -->
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading">Why We Are Here<br/><span class="text-muted">Everything has a purpose.</span></h2>
            <p class="lead text-justify">
                Half the students in the country who select engineering or computer science majors are no longer in these majors
                after their first science course. This is not because they are not capable or well prepared. It is because they 
                started a long and complicated journey without a map or guide. Our purpose is to provide this roadmap along with 
                opportunities and a way for students to earn workplace experience, learn about scholarships exclusive to engineering 
                and computer science students, and talk to alumni who have been in their shoes before. 
            </p>
        </div>
    </div>
    <hr class="featurette-divider">
    </div>
{% endblock %}

