<!doctype html>
<html lang="en">
  <head>
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MESA Engineering Program @ CSUC Sacramento</title>
    <meta name="description" content="">
    <meta name="author" content="2014 CSC191 A-Team">
    <link rel="shortcut icon" href="images/favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/carousel.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block head_scripts %}{% endblock %}
  </head>

  <body>
    <!-- begin navigation
    ================================================== -->
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">MESA Engineering Program</a>
            </div>
            <div class="navbar-collapse collapse navbar-right" style="padding-right:20px;">
              <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'news' %}">News</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
                {% if not user.is_authenticated %}
                    <!-- we know this works, it's been tested, but we want to try to take advantage of twitterbootstrap and use modal! ;) -->
                    <li><a class="btn" href="" onclick="window.open('{% url 'social:begin' 'linkedin' %}', '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes');"><span class="glyphicon glyphicon-user"></span> Sign <img src="/static/images/glyphicons_social/glyphicons_social_17_linked_in.png"></a></li>
                    <!--
                    <li><a class="btn" href="{% url 'social:begin' 'linkedin' %}"><span class="glyphicon glyphicon-user"></span> Sign <img src="/static/images/glyphicons_social/glyphicons_social_17_linked_in.png"></a></li>-->
                {% else %}
                    <li><a class="btn" href="{% url 'logout' %}" ><span class="glyphicon glyphicon-user"></span> Log Out {{ user.first_name }}</a></li>
                    <!--<li><a class="btn" href="/logout/" >Sign Out</a>-->
                {% endif %}
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- end navigation bar -->
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}

    <!-- FOOTER -->
    <div class="container">
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 MEP &middot; Web Design: Team Alpha &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a> &middot; <a href="http://www.glyphicons.com" target=_blank>GLYPHICONS.com</a> </p>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/docs.min.js"></script>
  </body>
</html>