{% extends "base.html" %}
{% load url from future %}

{% block content %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="/static/images/well.png" alt="Paintball">
          <div class="container">
            <div class="carousel-caption">
              <h1>Softball Event</h1>
              <p>MEP Will be hosting a softball event in the quad outside of the WELL.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/static/images/sunset.jpg" alt="Staring">
          <div class="container">
            <div class="carousel-caption">
              <h1>Guy West Bridge to Be Painted This Summer</h1>
              <p>MEP Students have organized a volunteer driven project which will involve<br/>giving the Guy West Bridge a brand new layer of paint.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/static/images/commencementphoto.jpg" alt="Suicide">
          <div class="container">
            <div class="carousel-caption">
              <h1>CSU Sacramento Class of 2014</h1>
              <p>Record number of MEP students graduate the Spring '14 semester whom of which will be funneled into the workforce.</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        
        <div class="col-lg-4">
         <img class="img-circle" width="140" height="140" src="/static/images/tutor-lab.jpg" alt="Generic placeholder image">
         <h2>Tutoring</h2>
         <p>The MEP tutoring lab offers assistance in engineering, math and science courses. The tutors are trained to assist you learn
         the material based on your learning style so you can excel on your exams and homework on your own. The lab is open during the fall,
         and spring semesters from the second week of the semester through dead weak. Take a look at the schedule to see if the course you
         would need tutoring in is available.</p>
         <p><a class="btn btn-primary" href="http://www.ecs.csus.edu/docs/ECSTutorSchedule.pdf" target="_blank" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        
        <div class="col-lg-4">
          <img class="img-circle" width="140" height="140" src="/static/images/volunteer2.jpg" alt="Generic placeholder image">
          <h2>Volunteer</h2>
          <p>MEP participants are required to contribute volunteer hours which can be fulfilled in a variety of ways. Some MEP participants 
            often volunteer their time at local middle and high school campuses which ends up sparking more interest in the Engineering and 
            Science classes.</p>
        </div><!-- /.col-lg-4 -->
        
        <div class="col-lg-4">
          <img class="img-circle" width="140" height="140" src="/static/images/scholarships.jpg" alt="Generic placeholder image">
          <h2>Scholarships</h2>
          <p>Scholarships are abundant and open to every student at Sac State. Below is a link to a frequently updated list of scholarships which also 
          offer on-line applications for scholarships.</p>
          <p><a class="btn btn-primary" href="http://www.ecs.csus.edu/dean/scholarships.php" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        
      </div><!-- /.row -->

    </div><!-- /.container -->
{% endblock %}
